
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 80vh;
}
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    
}
header{
    background-color: #D6ED17;
    height: 80vh;
}
.header-cont{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.texto-header{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
    ;
}
.img-header{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 150px;

}
/*Esto no es nada, solo para commitear*/

/*        ABOUT            */

.contenedor{
    padding: 50px 280px;
}

h2{
    background-color: #D6ED17;
    font-size: 2rem;
}

h3{
    font-size: 3rem;
}

.encabezado-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .info-cont{
    display: flex;
}

.text-about{
    display: flex;
    flex-direction: column;
}

#about .years-cont{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#circulo-amarillo{
    background: radial-gradient(yellow, yellow);
    border-radius: 50px;
    
}
.years-cont span{
    
    font-size: 50px;
}

#about .data-cont{
    display: flex;
}

.data-cont .data-tarj{
    flex-grow: 1;
}

/*       SERVICES           */

#services img{
    width: 40px;
    height: auto;
}

.grid-services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-top: 4% ;
}
.grid-tarj{
    text-align: center;
    width: 60%;
    margin: auto;
    
}

/*         CURRICULUM             */

.cont-cur{
    display: flex;
    justify-content: space-around;
}

.column-cur{
    padding-top: 4%;
    width: 30%;
}

.tarj-list{
    border-bottom: 1px solid black;
    padding: 4% 0;
    

}
