
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;400;600;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;
}

section{
    height: 100%;
}

/*         HEADER           */
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 3rem;
    align-items: center;
    position: fixed;
    width: 100%;
}

.nav-bar a{
    margin-left: 1rem;
    text-decoration: none;
    color: black;
}

nav img{
    width: 30px;
}
header{
    background-color: #F5DF4E;
    height: 80vh;
}


.header-cont{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.texto-header{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-evenly;
    ;
}
.img-header{
    height: 400px;
    width: 400px;
    border: 5px solid black;
    border-radius: 200px;

}
/*Esto no es nada, solo para commitear*/

/*        ABOUT            */

.contenedor{
    padding: 50px 150px;
}

h2{
    background-color: #F5DF4E;
    font-size: 2rem;
}

h3{
    font-size: 3rem;
}

.encabezado-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0%;
}

.info-cont{
    display: flex;
}

.text-about{
    display: flex;
    flex-direction: column;
}

.years-cont{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#circulo-amarillo{
    background: radial-gradient(yellow, yellow);
    border-radius: 50px;
    
}
.years-cont span{
    
    font-size: 50px;
}

#about .data-cont{
    display: flex;
}

.data-cont .data-tarj{
    flex-grow: 1;
}

/*       SERVICES           */

#services img{
    width: 40px;
    height: auto;
}

.grid-services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-top: 4% ;
}
.grid-tarj{
    text-align: center;
    width: 60%;
    margin: auto;
    
}

/*         CURRICULUM             */

.cont-cur{
    display: flex;
    justify-content: space-around;
}

.column-cur{
    padding-top: 4%;
    width: 30%;
    
}

.tarj-list{
    padding: 4% 5%;
    border-left: 3px solid #F5DF4E;
}

.text-tarj{
    border-bottom: 1px solid black;
}

.skills-grid{

    display: grid;
    grid-template-columns: 50% 50%;
}
progress{
    border:none;
    width: 80%;
    height: 20%;
}
progress::-webkit-progress-bar{
    border-radius: 10px;
    background-color: #93939370;
}
progress[value]::-webkit-progress-value {
    background-color:#F5DF4E;
    border-radius: 10px;
  }

  /*      PORTFOLIO          */

.grid-port{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 53%);
    justify-content: center;
    padding: 1rem;
}
.item{
    width: 350px;
    height: 350px;
    background-image:url(/assets/img/grid-proy/proy1.jpg);
    background-size: cover;
}

/*       CONTACT               */

#contact{
    background-color: #F5DF4E;
    display: flex;
}
.column-contact{
    display: flex;
    flex-direction: column;
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-bottom: 1%;
}

form button{
    text-align: center;
    color: white;
    background-color: black;
}
button img{
    height: 30px;
}


/*      FOOTER           */

footer{
    background-color: black;
    color: white;
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
}