
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;400;600;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;
}
body{
    width: 100%;
}
section{
    background-color: white;
}

header, section{
    height: 100%;
    padding: 5% 10% 0% 10%;
}


nav{
    padding: 0 5%;
}
footer{
    padding: 3% 10%;
}

.encabezado-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin: 5% 0; */
    
}

.boton-negro{
    background-color: black;
    color: white;
    width: 50%;
    height: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-negro:hover{
    background-color:white;
    color: black;
    transition: all 1s ease-in-out;
}
/*     DARK MODE         */
.boton-mo{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.nav-osc{
    background-color: #F5DF4E;
}

.fondo-negro{
    background-color: rgb(0 0 0 / 96%);
    color: silver;
}
.fon-amarillo{
    background-color: #F5DF4E;
}


/*         HEADER           */
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 3rem;
    align-items: center;
    position: fixed;
    width: 100%;
}
#logo{
    color: black;
    font-weight: 900;
}
nav a{
    text-decoration: none;
}

.nav-bar a{
    margin-left: 1rem;
    text-decoration: none;
    color: black;
}
.nav-bar a:hover{
    color: #F5DF4E;
    
    transition: all .2s ease-in-out;
}

nav img{
    width: 30px;
}
header{
    background-color: #F5DF4E;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-lista{
    display: none;
}
.menu-lista li{
    display: flex;
    align-items: center;
}
.menu-lista a{
    color: black;
    text-decoration: none;
}
#menu-open , #menu-close{
    display: none;
    background-color: transparent;
    border: none;
}

.menu-open-close{
    position: fixed;
    width: 100%;
    left: 0;
}
.header-cont{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.texto-header{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-evenly;
}

/* @keyframes tipeo {
    0% {
        width: 0px;
    }
    100%{
        width: 100%;
    }
}
@keyframes blink {
    0%, 100%{
        border-color:transparent;
    }
    50%{border-color: white;}
}

.texto-header span{
    display: block;
    width: 11ch;
    overflow: hidden;
    border-right: .15em solid ;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: blink 3s steps(9), tipeo 1s steps(9) ;
} */



.img-header{
    height: auto;
    width: 40%;
    border: 10px solid #EAEBED;
    border-radius: 250px;

}
.flecha-abajo{
    align-self: center;
    width: 2%;
    margin-top: 5%;
}

.botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botones a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    transition: all .2s ease-in-out;
}
.botones a:hover{
    color: white;
    border-bottom: 1px solid white;
    transform: scale();
}

/*Esto no es nada, solo para commitear*/

/*        ABOUT            */

/* .contenedor{
    padding: 50px 150px;
} */

h2{
    background-color: #F5DF4E;
    font-size: 2rem;
}

h3{
    font-size: 3rem;
}



.info-cont{
    display: flex;
    justify-content: space-between;
    padding: 7% 0;
}

.text-about{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.text-about p:nth-of-type(1){
    font-size: 2rem;
    padding: 2% 0;
}

.text-about strong{
    border-bottom: 4px solid #F5DF4E;
}

.text-about p:nth-of-type(2){
    font-size: 1.2rem;
}

.years-cont{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#circulo-amarillo{
    background: radial-gradient(#F5DF4E, #F5DF4E);
    border-radius: 50px;
    
}
.years-cont span{
    
    font-size: 50px;
}

.data-cont{
    display: flex;
}

.data-cont .data-tarj{
    flex-grow: 1;
}

/*       SERVICES           */

#services img{
    width: 40px;
    height: auto;
}

.grid-services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-top: 4% ;
}
.grid-tarj{
    text-align: center;
    width: 60%;
    margin: auto;
    
}

.grid-tarj span{
    font-size: 1.2rem;
    font-weight: bold;
}

.grid-tarj p{
    padding: 3% 0;
}

/*         CURRICULUM             */

.cont-cur{
    display: flex;
    justify-content: space-between;
}

.column-cur{
    padding-top: 4%;
    width: 40%;
    
}

.tarj-list{
    padding: 4% 5%;
    border-left: 3px solid #F5DF4E;
}

.text-tarj{
    border-bottom: 1px solid black;
}

.skills-grid{

    display: grid;
    grid-template-columns: 50% 50%;
}

.cont-skills{
    display: flex;
    flex-direction: column;  
    margin-top: 4%;

}

.skill{
    width: 90%;
}
.texto-skill{
    display: flex;
    justify-content: space-between;
}
progress{
    border:none;
    width: 100%;
    height: 20%;
}
progress::-webkit-progress-bar{
    border-radius: 10px;
    background-color: #93939370;
}
progress[value]::-webkit-progress-value {
    background-color:#F5DF4E;
    border-radius: 10px;
}

.boton-gris{
    width: 20%;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    align-self: center;
    margin-top: 20px;

}
.boton-gris:hover{
    background-color: black;
    transition: all 1s ease-in-out;
}

.boton-gris a{
    color: black;
    text-decoration: none;
}
.boton-gris:hover a{
    color: white;
    transition: all 1s ease-in-out;
}


  /*      PORTFOLIO          */

.grid-port{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-port a{
    width: 350px;
    height: 350px;
    background-image:url(../assets/img/grid-proy/proy1.jpg);
    background-size: cover;
    margin: 1% 1%;
}
/* .item{
    width: 250px;
    height: 250px;
    background-image:url(/tp-responsive/assets/img/grid-proy/proy1.jpg);
    background-size: cover;
    margin: 1% 3%;
} */

/*       CONTACT               */

#contact{
    display: flex;
}
.column-contact{
    display: flex;
    flex-direction: column;
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-bottom: 1%;
}

form label{
    margin-top: 15px;
}

form button{
    margin: 15px 0;
}

button img{
    height: 30px;
}
.links-contact{
    display: flex;
    
}
#contact img{
    width: 30px;
    margin-left: 5px;
}


/*      FOOTER           */

footer{
    height: 5%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
footer a{
    color: #F5DF4E;
}

/*    MEDIA QUERIES       */

#menu-close{
    display: none;
}

@media (max-width:1050px) {

    .nav-bar{
        display: none;
    }
    #menu-open{
        display: block;
    }

    .menu-lista{
        list-style: none;
        text-align: center;
        width: 100%;
        
        background: rgb(255, 255, 255);
        display: none;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 11px;
        height: 50vh;

    }
    li{
        flex-grow: 1;
        align-self: center;
    }
}


@media (max-width:750px) {

    /*  GENERALES   */

    header, section{
        padding: 7% 2%;
    }

    h2{
        background-color: #F5DF4E;
        font-size: 1rem;
    }
    
    h3{
        font-size: 2rem;
    }
    /*     HEADER      */
    .nav-bar{
        display: none;
    }
    .header-cont{
        flex-direction: column-reverse;
        align-items: center;
    }
    .texto-header{
        width: 100%;
        text-align: center;
    }
    .texto-header h1{
        padding: 3% 0;
    }
    .texto-header p{
        display: none;
    }

    header .img-header{
        height: 300px;
        width: 300px;
    }
    header .flecha-abajo{
        height: 20px;
        width: 20px;
    }

    /*           ABOUT      */

    .info-cont{
        flex-direction: column;
    }
    .text-about{
        text-align: center;
        width: 100%;
    }

    .years-cont{
        padding: 3% 0;
    }

    .data-cont{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .data-tarj{
        padding: 4% 2%;
    }

    /*        SERVICES              */

    .grid-services{
        display: flex;
        flex-direction: column;
    }


    /*       CURRICULUM          */

    .cont-cur{
        flex-direction: column;
    }
    .column-cur{
        width: 100%;
    }

    .skills-grid{
        display: flex;
        flex-direction: column;
    }

    .skill{
        height: 45px;
    }
    .boton-gris{
        width: 30%;
    }

    /*       PORTFOLIO         */

    .grid-port{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .grid-port a{
        width: 290px;
        height: 290px;
    }

    /*      CONTACT               */

    #contact{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .column-contact{
        width: 100%;
        align-items: center;
    }
    .links-contact{
        padding: 5% 0;
    }

    form{
        width: 90%;
    }

    .boton-negro{
        align-self: center;
    }

    /*       FOOTER           */

    footer{
        flex-direction: column;
        align-items: center;
    }

    footer p{
        padding: 2% 0;
    }

    footer a{
        color: #F5DF4E;
    }

}



